/* .dropdown{
 text-align: center;
background-color: grey;
display: flex;
gap: 2rem;
text-align: center;
padding: 20px;
margin: 2px 4px;
 justify-content: space-evenly;
height: 2rem;
justify-content: space-evenly;
cursor: pointer;
width: 20rem;

}
.dropdown-list{
    list-style-type: none;
    position: a;
      /* bottom:2rem; */
    /* left: 0; */
    /* border: 1px solid rgb(107, 93, 93);
    background: grey;
    border: 1px solid transparent; 

    
} */
/* .dropdown-menu{
    position: relative;
    text-align: center;
    cursor: pointer;
    background-color: grey;
    width: 20rem;
    padding: 5rem;
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: space-evenly;


     
}  */ 